@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
:root {
  --white: #fff;
  --black: #000;

  --primary-50: #d4eefc;
  --primary-100: #c1e7fa;
  --primary-200: #9bd8f7;
  --primary-300: #76c9f4;
  --primary-400: #50baf1;
  --primary-500: #2aabee;
  --primary-600: #118ecf;
  --primary-700: #0c6b9b;
  --primary-800: #084767;
  --primary-900: #042333;

  --max-width: 1080px;
}

::selection {
  background: inherit;
  color: inherit;
}
&::-webkit-scrollbar {
  width: 0.3rem;
}
&::-webkit-scrollbar-thumb {
  background-color: var(--primary-900);
  border-radius: 50rem;
}
&::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-800);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style-type: none;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
}
input,
textarea,
button {
  outline: 0;
  border: 0;
  background-color: unset;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: cover;
  pointer-events: none;
}
svg {
  width: 18px;
}
html,
body {
  margin: auto;
  background: var(--black);
}
body {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

/* global classes */

.fixed-width {
  margin: 0 auto;
  max-width: var(--max-width);
  overflow-x: hidden;
}
@media screen and (width <= 1270px) {
  .fixed-width {
    max-width: 95vw;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex-column {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}
.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}
.gap-6 {
  gap: 3rem;
}
.gap-8 {
  gap: 4rem;
}
.full-width {
  width: 100%;
}
